@media only screen and (min-width: 900px) {
  body {
    padding: 36px;
  }
  .margin {
    margin-left: 15%;
  }
  .desktop-view {
    display: block;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  .desktop-view ul {
    display: flex;
    align-items: center;
  }
  .desktop-view ul li {
    font-weight: bold;
    list-style: none;
    padding: 0 22px;
  }
  .hamburger-icon {
    display: none;
  }
  .logo {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: rgb(40, 39, 39);
  }
  .introductory-heading h2 {
    font-size: 32px;
    padding: 8px 0;
    line-height: 1.3;
    font-family: sans-serif;
  }
  .container-1 h2 {
    font-size: 32px;
  }
  .heading-first {
    margin: 112px 72px 0 138px;
    width: 20%;
  }
  .heading-first h2 {
    font-size: 28px;
  }
  .flexContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }
  .flexContainer-card {
    margin-left: 0;
    width: 350px;
  }
  .flexContainer-card.selected {
    padding: 15px 25px 0 25px;
  }
  .flexContainer-card.margin-third {
    margin-left: 0;
  }
  #first {
    margin-left: 22px;
    margin-right: 0;
  }
  #second {
    margin: 0;
  }
  #third {
    margin: 0 22px;
  }
}
